* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: #EC715F;
    height: 70px;
}

.container {
    width: 1024px;
    margin: 0 auto;
    display: flex;
}

img {
    height: 70px;
}

.header-list {
    margin-left: auto;
}

li {
    display: inline;
    width: 120px;
    line-height: 70px;
    color: #FAFAFA;
    padding: 0 30px;
    list-style: none;
    font-size: 16px;
}

 .header-list a {
    color: #FAFAFA;
    text-decoration: none;
}

.top-wrapper {
    width: 100%;
    height: 650px;
    background-image: url(img/mv.png);
    background-size: cover;
    text-align: center;
    color: #FAFAFA;
}

.content {
    padding-top: 200px;
}

.content h1 {
    font-size: 64px;
}

.content p {
    font-size: 20px;
    padding-top: 10px;
}

#first {
    width: 100%;
    background-color: #eceff1;
}
#third {
    width: 100%;
    background-color: #eceff1;
}

.main-wrapper {
    width: 1024px;
    margin: 0 auto;
}

.main-container {
    width: 920px;
    margin: 0 auto;
    text-align: center;
}

.main-title {
    padding-top: 90px;
}

.main-title h2 {
    font-size: 32px;
}

.line {
    height: 3px;
    width: 70px;
    background-color: #EC715F;
    margin: 8px auto 30px auto;
}

.photos {
    width: 920px;
    padding: 30px 0 90px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.photo {
    height: 250px;
    width: 300px;
    background-size: cover;
    background-position: center;
}

.photo:first-child {
    background-image: url(img/sketch.jpg);
}

.photo:nth-child(2) {
    background-image: url(img/websuku.png);
    margin: 0 10px;
}

.photo:nth-child(3) {
    background-image: url(img/write.jpg);
}

.photo:nth-child(4) {
    background-image: url(img/webcamp.png);
}

.photo:nth-child(5) {
    background-image: url(img/talk.jpg);
    margin: 0 10px;
}

.photo:last-child {
    background-image: url(img/webcamp-mother.png);
}

.photo:nth-child(-n+3) {
    margin-bottom: 10px;
}

.main2-wrapper {
    width: 100%;
}

.main2-container {
    width: 980px;
    margin: 0 auto;
    text-align: center;
}

.strength-group {
    padding: 30px 0 90px 0;
    display: flex;
    flex-wrap: wrap;
}

.strength {
    width: 320px;
}

.strength:nth-child(2) {
    padding: 0 10px;
}

.strength-icon {
    font-size: 60px;
}

.strength h3 {
    padding: 10px;
    font-size: 20px;
}

.strength p {
    text-align: left;
    font-size: 16px;
}

.main3-wrapper {
    width: 100%;
    background-color: #eceff1;
}

.main3-container {
    width: 1024px;
    margin: 0 auto;
    text-align: center;
}

.profile {
    padding: 30px 0 90px 0;
    display: flex;
    flex-wrap: wrap;
}

.profile-photo {
    width: 512px;
    text-align: center;
}
.my-icon {
    border-radius: 50%;
}

.introduce {
    width: 512px;
    text-align: left;
}
.introduce h3 {
    font-size: 20px;
}
.introduce p {
    font-size: 16px;
}

.my-name {
    padding-top: 30px;
}
.my-name h3 {
    padding-bottom: 5px;
}

.my-skills {
    padding-top: 20px;
}
.my-skills h3 {
    padding-bottom: 5px;
}

.main3-wrapper {
    width: 100%;
}

.main4-wrapper {
    width: 1024px;
    margin: 0 auto;
}

.main4-container {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.contact {
    padding: 30px 0 90px 0;
    display: flex;
    flex-wrap: wrap;
}

.adress {
    width: 400px;
    text-align: center;
}

.mail {
    width: 130px;
    margin: 0 auto;
    text-align: left;
}
.tell {
    width: 130px;
    margin: 0 auto;
    text-align: left;
}

.sns {
    width: 400px;
    text-align: center;
}

.sns-content {
    width: 200px;
    margin: 0 auto;
    text-align: left;
}

.sns i {
    font-size: 50px;
}
.sns i:nth-child(2) {
    margin: 0 20px 0 20px;
}

footer {
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: #EC715F;
}
footer p {
    line-height: 60px;
    color: white;
}

/* ハンバーガーメニュー */
.smafo {
    display: none
}
#input {
    display: none;
}

.menu-box {
    position: relative;
    width: 42px;
    height: 42px;
    margin-top: 5px;
    border: 3px solid white;
}

.menu-line {
    width: 25px;
    height: 4px;
    background-color: white;
    position: absolute;
    top: 6px;
    left: 5px;
}
.menu-line:nth-child(2) {
    top: 16px;
}
.menu-line:last-child {
    top: 26px;
}

.menu-content {
    transform: translateX(-40px) translateY(-1000px);
}

#input:checked ~ .menu-content {
    transform:translateX(-40px) translateY(0);
}

/* スマホ用画面 */
@media( max-width: 767px ) {

    header {
        height: 50px;
    }

    img {
        height: 50px;
    }

    li {
        padding: 0;
    }

    .pc {
        display: none;
    }

    .container {
        width: 90%;
        height: 50px;
    }

    .smafo {
        display: inline-block;
        margin-left: auto;
        width: 30px;
    }

    .top-wrapper {
        background-image: url(img/code.png);
        background-position: center;
    }

    .content h1 {
        font-size: 40px;
    }

    .main-wrapper {
        width: 100%;
    }
    .main-container {
        width: 90%;
    }

    .photos {
        width: 100%;
        justify-content: center;
       flex-flow: column;
    }

    .photo {
        margin: 0 auto;
    }

    .photo:nth-child(2) {
        margin: 0 auto 10px auto;
    }

    .photo:nth-child(4) {
        margin-bottom: 10px;
    }

    .photo:nth-child(odd) {
        display: none;
    }

    .main2-container {
        width: 90%;
    }

    .strength-group {
        justify-content: center;
    }

    .strength:nth-child(2) {
        padding-top: 10px;
    }

    .strength:nth-child(3) {
        padding-top: 10px;
    }

    .main3-container {
        width: 90%;
    }
    .profile {
        justify-content: center;
    }
    .introduce {
        text-align: center;
    }

    .main4-container {
        width: 90%;
    }
    .contact h3 {
        padding-bottom: 5px;
    }
    .contact p {
        padding-bottom: 20px;
    }
    .adress {
        margin: 0 auto;
    }
    .mail {
        text-align: center;
    }
    .tell {
        text-align: center;
    }
    .sns {
        margin: 0 auto;
    }
    .sns-content {
        text-align: center;
    }

}